<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="/js/pwa.webmanifest">
  <link rel="stylesheet" href="/style.css">
  <title>Ochochil</title>
</head>
<body>
    <header>
        <span><img src="img/js/este.png" alt=""></span>
    </header>
<section class="menu-inicial">
  <a href="/crear">
    <div class="opcion" id="crear">
      <h3>Crear una propiedad</h3>
    </div>
  </a>
  <a href="/administrar">
    <div class="opcion" id="admin">
      <h3>Administrar propiedades</h3>
    </div>
  </a>
  <a href="/leads">
    <div class="opcion" id="base">
      <h3>consultar Leads</h3>
    </div>
  </a>
</section>

  <script src="/js/pwa.js"></script>
    <script src="/js/status.js"></script>
    <style>
 
    </style>
    <%- include('./partials/menu.ejs'); -%>
</body>
</html>
